.form-control,.addpizza_selects{
    border-style: none;
    border: 1px solid black;

}
.addpizza{
    width: 97%;
    margin-left: 0.8%;
    height: 100vh;
}

.addpizza_header{
    font-size: 1.5rem;
    
}
.addpizza_btn{
    font-size: 19px;
    font-weight: 600;
    margin-left: 0.3%;
    background-color: rgb(14, 18, 83);
    border-style: none;
}
.addpizza_btn:hover{
    background-color: rgb(20, 81, 18);
}
@media (max-width:768px){
    .form-control{
        height: fit-content;
    }
    .addpizza_header{
        font-size: 1.2rem;
    }
    .addpizza_btn{
        font-size: 1rem;
        margin-left: 0.8%;
    }
}
