.admin_container{
    width: 90%;
    margin: auto;
}
.adminscreen_main{
    margin-top: 4%;
}
.adminfunctions .link{
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    padding: 1px;
}
.link:hover{
    text-decoration-line: underline;
}
.adminfunctions{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px;
    background-color: black
}
@media (max-width:768px){
    .adminscreen_main{
        margin-top: 14% !important;
    }
    .admin_container{
        width: 100% !important;
        margin: auto;
    }
    .adminfunctions{
        justify-content: space-between;
        gap: 0;
        padding: 1rem;
    }
    .link:hover{
        text-decoration-line: underline;
    }
    .link{
        text-wrap: nowrap;
        font-size: 0.9rem !important;
        font-weight: 400;
    }
}