.order_container{
  display: flex;
  justify-content: space-between;
  background-color: rgb(225, 55, 55);
  padding: 10px;
  width: 50rem;
  border-radius: 10px;
  color: rgb(247, 236, 236);
}
.filter_container{
  display: flex;
  justify-content: end;
}
.filter_button:hover{
  background-color: black;
}
.filter_button{
  display: flex;
  align-items: center;
  border-style: none;
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(29, 187, 187);
  color: white;
  margin-top: 5%;
}
.order_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order_date{
  font-size: 1.5rem;
}
.order_details{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.delivered{
  color: green;
}
.not_delivered{
  color: red;
}
.details_container{
  display: flex;
  gap: 10px;
}
.image{
  width: 120px;
  border-radius: 8px;
}

.order_container .d-flex .delivered {
  color: green;
}

.order_container .d-flex .incomplete {
  color: red;
}

div[role="alert"],
.order_section > div {
  text-align: center;
  font-size: 18px;
  padding: 20px;
}
.order_status{
  width: fit-content;
  background-color: aliceblue;
  border-radius: 4px;
  padding: 4px;
  height: fit-content;
}
@media (max-width: 768px) {
  .order_container{
    width: 100%;
    padding: 1rem;
    align-items: center;
  }
  .filter_button{
    margin-top: 15%;
  }
  .order_section{
    align-items: flex-start;
  }
  .image{
    width: 80px;
  }
  .details_container{
    display: flex;
  }
  .order_date{
    font-size: 1.2rem;
  }
  .order_details{
    font-size: 0.9rem;
    text-align: left;
    overflow-wrap: anywhere;
  }
  .order_status{
    font-size: 0.9rem;
    width: fit-content;
    padding: 4px;
  }
  .order_item_name{
    width: 12rem;
    font-weight: 600;
  }
  .filter_button{
    margin-right: 1rem;
    padding: 0.4rem;
  }
}
