.order_container{
  display: flex;
  justify-content: space-between;
  background-color: rgb(225, 55, 55);
  padding: 10px;
  width: 50rem;
  border-radius: 10px;
  color: rgb(247, 236, 236);
}
.filter_container{
  display: flex;
  justify-content: end;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.filter_button:hover{
  background-color: black;
}
.filter_button{
  display: flex;
  align-items: center;
  border-style: none;
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(29, 187, 187);
  color: white;
  margin-top: 5%;
}
.order_section{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  min-height: 100vh;
}
.order_date{
  font-size: 1.5rem;
}
.order_details{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.delivered{
  color: green;
  font-size: 0.9rem;
}
.not_delivered{
  color: red;
  font-size: 0.9rem !important;
}
.details_container{
  display: flex;
  gap: 10px;
}
.image{
  width: 120px;
  border-radius: 8px;
}

.order_container .d-flex .delivered {
  color: green;
}

.order_container .d-flex .incomplete {
  color: red;
}

div[role="alert"],
.order_section > div {
  text-align: center;
  font-size: 18px;
  padding: 20px;
}
.order_status{
  width: fit-content;
  background-color: aliceblue;
  border-radius: 4px;
  padding: 4px;
  height: fit-content;
}
@media (max-width: 768px) {
  .order_container{
    width: 100%;
  }
  .filter_container{
    justify-content: end;
  }
  .filter_button{
    margin-top: 18%;
    padding: 0.5rem !important;
  }
  .order_section{
    display: grid;
    grid-template-columns: repeat(1,minmax(200px,1fr)) !important;
    padding: 0.4rem !important;
  }
  .image{
    width: 80px;
  }
  .details_container{
    display: flex;
    gap: 1.5rem;
  }
  .order_date{
    font-size: 1.2rem;
  }
  .order_details{
    font-size: 0.9rem;
    text-align: left;
    overflow-wrap: anywhere;
  }
  .delivered,.not_delivered{
    font-size: 0.8rem !important;
  }
  .order_status{
    display: flex;
    justify-content: end;
    align-items: end;
    text-wrap: nowrap;
    padding: 0.2rem;
  }
  .order_item_name{
    font-weight: 600;
  }
  .filter_button{
    margin-right: 1rem;
    padding: 0.4rem;
  }
}
