.pizza_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.section_pizza_container {
    width: 100%;
    max-width: 400px;
    background: rgb(169, 9, 9);
    border: 2px solid rgb(237, 35, 35);
    padding-bottom: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-bottom: 2rem;
  }
  .pizza_images {
    width: 50%;
    height: 200px;
    border-radius: 10px;
    object-fit:contain;
    transition: transform 0.3s ease;
    cursor: pointer;
    object-fit:cover;
  }
  
  .pizza_image:hover {
    transform: scale(1.05);
  }

  .pizza_name {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px 0;
    height: 2.5rem;
    color: white;
  }

  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e63946;
    margin-bottom: 10px;
  }

  .dropdown_section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  .varient,
  .quantities {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    cursor: pointer;
    transition: 0.3s ease;
    width: 7rem;
  }
  
  .quantities:hover {
    background: #eee;
  }

  .cart_button {
    border-radius: 2rem !important;
    background-color: #ff1818 !important;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    width: fit-content !important;
  }
  
  .cart_button:hover {
    background: #e63946;
  }

  .modal_image {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
  }
  
  .close_button {
    border-radius: 20px;
    padding: 8px 15px;
  }

@media (max-width:768px){
    .pizza_container{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        padding: 1rem;
    }
    .paneer_pizza_container{
        width: 94% !important;
        margin-bottom: 1rem;
    }
    .cart_button{
        width: 70% !important;
    }
    .pizza_name{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        overflow-wrap: break-word;
    }
}
  