/* General Styles */
.list_main {
    min-height: 100vh;
  }
  
  .list_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4px;
  }
  
  .list_header {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin: 0;
  }
  
  .list_count {
    font-size: 1rem !important;
    color: black;
    margin-top: 0.7rem;
  }
  
  .screen_choice {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
  }
  .table {
    width: 100%;
    background: white;
    overflow: hidden;
    font-size: 1rem;
  }
  
  .table-dark {
    background-color: #4a82ba;
    color: white;
  }
  
  .table_headers th {
    padding: 10px;
    text-align: center;
    background-color: black;
  }
  
  .table_data td {
    padding: 4px;
    border-bottom: 1px solid #ddd;
  }
  
  .table_pizza_name {
    font-size: 1rem !important;
    font-weight:600;
    color: black;
    text-align: center;
    width: 38% !important;
    overflow-x: wrap !important;
    text-transform: uppercase;
  }
  .list_header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .table_pizza_category {
    color: black;
  }
  
  .table_pizza_actions i {
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 0.5rem;
  }
  
  .pizza_actions i:hover {
    transform: scale(1.1);
  }
  .fa-trash{
    color: rgb(216, 14, 14);
  }
  
  @media (max-width: 768px) {
    .list_container{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: auto;
  }
    .list_count{
        text-wrap: nowrap;
        text-align: end;
        font-size: 0.9rem !important;
    }
    .table_pizza_actions i{
        font-size: 0.94rem !important;
    }
    .list_header{
      font-size: 1.2rem;
    }
  
    .screen_choice {
      width: 100%;
      height: 2.5rem;
      padding: 0;
    }
    .table_pizza_name{
      font-size: 0.875rem !important;
      width: 47% !important;
      overflow-wrap: anywhere;
    }
  
    .table {
      width: 100%;
    }
    .table_headers th, .table_data td {
      padding: 8px;
      font-size: 14px;
      border-bottom: 1px solid rgb(197, 178, 178);
    }
    .list_main{
      padding: 0.3rem;
    }
  }
  