/* General Styles */
.main {
    min-height: 100vh;
  }
  
  .pizzaslists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4px;
  }
  
  .pizzalists_name {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin: 0;
  }
  
  .pizza_counts {
    font-size: 17px;
    color: black;
  }
  
  .pizza_choices {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
  }
  
  /* Table Styles */
  .table {
    width: 100%;
    background: white;
    overflow: hidden;
  }
  
  .table-dark {
    background-color: #4a82ba;
    color: white;
  }
  
  .table_headers th {
    padding: 10px;
    text-align: center;
    background-color: black;
  }
  
  .table_data td {
    padding: 4px;
    border-bottom: 1px solid #ddd;
  }
  
  .pizza_name {
    font-weight:600;
    color: black;
    text-align: center;
    width: 38%;
  }
  .pizzalist_headers{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .pizza_category {
    color: black;
  }
  
  .pizza_actions i {
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .pizza_actions i:hover {
    transform: scale(1.1);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .pizzalists_name{
        font-size: 1.1rem;
        text-wrap: nowrap;
    }
    .pizza_counts{
        text-wrap: nowrap;
        text-align: end;
        font-size: 0.9rem;
    }
    .pizza_actions i{
        font-size: 0.875rem;
    }
  
    .pizza_choices {
      width: 100%;
      margin-left: auto;
      height: 40px;
    }
    .pizza_name{
      width: 45%;
    }
  
    .table {
      width: 100%;
    }
    .pizzalist_headers{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
  
    .table_headers th, .table_data td {
      padding: 8px;
      font-size: 14px;
      border-bottom: 1px solid rgb(197, 178, 178);
    }
    .main{
      padding: 4px;
    }
  }
  