
.imgs{
    padding: 7px 10px;
}
.d-block{
    height: 400px;
}
@media (max-width:768px){
    .d-block{
        height: 180px;
        border-radius: 8px;
    }
    .imgs{
        padding: 7px 10px;
    }
}