
.imgs{
    padding: 7px 10px;
    width: 84rem;
}
.d-block{
    height: 400px;
}
@media (max-width:768px){
    .d-block{
        height: 100%;
        border-radius: 14px;
        padding: 8px;
    }
    .imgs{
        padding: 10px 0px;
        width: 100%;
    }
}