
.imgs{
    padding: 7px 10px;
    width: 84rem;
}
.d-block{
    height: 400px;
}
@media (max-width:768px){
    .d-block{
        border-radius: 1.5rem !important;
        padding: 15px;
        height: 230px;
    }
    .imgs{
        padding: 10px 0px;
        width: 103%;
    }
}