.navbar{
  background-color: black !important;
  height: 66px;
}
.navbar_container{
  display: flex;
  justify-content:space-between;
  width: 98%;
  padding: 0 2%;
  height: auto;
}
.logo{
  width: 50px;
}
.login{
  color: white !important;
}
.dropdown-item:hover{
  color: white;
  background-color: black;
}

.dropdown-menu{
  background-color: rgb(238, 80, 22);
}
.user{
  color: white;
  font-size: 1rem;
}
.cart_container{
  color: white;
  margin-top: 17px;
}
.cart:hover{
  color: white;
}
.navbar-nav{
  font-size: 1.1rem;
}
.navs_header{
  font-size: 1.5rem;
  font-weight: 600;
}
.cart_icon{
  font-size: 1.4rem;
  position: absolute;
  color: white;
}
.count{
  width: 17px;
  height: 18px;
  background-color: rgb(250, 217, 4);
  border-radius: 10px;
  position: absolute;
  margin-top: -0.8%;
  margin-left: 12px;
  font-size: 14px;
  color: rgb(10, 9, 9);
  padding: 0 5px;
  text-align: center;
}
/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -110px;
}

.navbar ul li {
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  display: block;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #e33434;
  display: none;
  flex-direction: column;
  min-width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  transform: translateY(10px);
  opacity: 0;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-menu a {
  padding: 7px 14px;
  transition: background 0.3s;
}

.dropdown-menu a:hover {
  background: black;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}


@media (max-width:768px) {
  .navs_header{
    font-size: 1.3rem;
  }
  .navbar{
    font-size: 0.8rem;
    height: 68px;
    padding: 0 10px;
  }
  .logo{
    width: 40px;
  }
  .user{
    font-size: 0.9rem;
  }
  .navbar-nav{
    height: 40px;
    margin-bottom: 7px;
  }
  .navbar-brand{
    margin-left: -21px;
  }
  .profile_container{
    display: flex;
  }
  .cart_container{
    margin-top: 1.5%;
  }
  .count{
    margin-top: -10px;
  }
}