.navbarpizza {
  margin-top: 4.8%;
    background-color: black; /* Tomato Red for pizza theme */
    padding: 10px 50px;
    
  }
  .navs {
    margin-left: 0%;
    text-decoration: none;
    color: white;
    padding: 8px 48px;
    font-size: 1.1rem !important;
    border-radius: 25px;
  }

  .navs:hover{
    color: white;
    background-color: rgb(244, 35, 20);
  }
  
  /* Add responsiveness for smaller screens */
  @media (max-width: 768px) {
    .navbarpizza {
      margin-top: 14%;
      padding: 4px 0px;
      width: 100%;
    }
    .navs::after{
      content: "   ";
    }
    .navs{
      width: 10px !important;
      margin-left: 10px;
      padding: 5px;
      font-size: 0.9rem !important;
    }
  }