#pizzascreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 10px;
  background-color: aqua;
}
.pizza_image{
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
}
.pizza_header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pizza_name{
  font-size: 1rem;
  text-wrap: nowrap;
}
.varient_container{
  display: flex;
  gap: 4%;
  padding-top: 2%;
}
.varients{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.quantity{
  display: flex;
  flex-direction: column;
}
.varient_choice,.quantity_choice{
  width: 7rem;
  padding: 0.2rem;
  border-radius: 4px;
}
.price_container{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 18%;
  padding-top: 2%;
  padding-left: 10%;
}
.cart_btn{
  border-style: none;
  border-radius: 7px;
  background-color: red;
  padding: 6px;
}
@media (max-width:768px){
  #pizzascreen{
    width: 200px;
    overflow: hidden;
  }
  .pizza_name{
    font-size: 0.9rem;
  }
  .varient_header,.quantity_header{
    font-size: 0.8rem;
  }
  .varient_choice,.quantity_choice{
    width: 5rem;
    padding: 0.1rem;
  }
  .cart_btn{
    padding: 0.4rem;
  }
  .price{
    font-size: 1rem;
  }
  .pizza_image{
    width: 8rem;
    height: 8rem;
  }
  .price_container{
    align-items: end;
    justify-content: start;
    padding-top: 4%;
    gap: 18%;
  }
  .cart_btn{
    font-size: 0.9rem;
    padding: 3%;
  }
}
